<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: #4CAF50;
        }

        p {
            color: #333;
        }
    </style>
</head>

<body>
    <h1>Transaction Successful!</h1>
    <p>Your payment has been successfully processed. Thank you for your purchase!</p>
    <a href="/">Check your Order</a>
</body>

</html>