@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-1:   #F2F3F4;
  --text-color: #0f1016;
  --accent-color:#D6DBDF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 60px;
} 

.offcanvas-title{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600
}

.offcanvas{
    width: 330px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 20px;
    margin-right: auto;
}

.search{
    display: flex;
    margin-right: 80px;
    width: 350px;
}

.searchButton{
    border-right: none;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.searchBar{
    border: 1px solid black;
    border-left: none;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#bag{
    margin-right: 15px;
}

.username{
    font-size: 15px;
}

.navbar-toggler{
    text-decoration: none;
    border: none;
    color: black;
    display: flex;
    align-items: center;
}


.navbar-toggler:hover{
cursor: pointer;
}

@media(max-width:500px){
    #leftoffcanvasNavbar, #rightoffcanvasNavbar{
        width: 300px;
    }
    .search{
        display: none;
    }
    #lefttoffcanvastoggler{
        margin-left: -10px;
    }
    #rightoffcanvastoggler{
        margin-right: -10px;
    }
    #bag{
        margin-right: 0px;
    }
}
